dist*
static/combined/
static/tmp/
doc/*.pdf
doc/*.text
doc/*.xml
doc/*.xlxs
doc/*.png
config/client_session_key.aes
*.hi
*.o
*.sqlite3
fay/Language/Fay/Yesod.hs
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox/
cabal.sandbox.config